body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

button {
  margin: 2px;
}

table.table {
  width: calc(100% - 10px);
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5%;
}

.table td, .table th {
  text-align: center;
}

header {
  margin-bottom: 20px;
}

.loader {
  font-size: 20px;
  text-align: center;
}
